/* Lottery.css */

.lottery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
}

.lottery-header {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.lottery-ticket-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style the "Buy Ticket" button */
.buy-ticket-button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buy-ticket-button:hover {
  background-color: var(--secondary-color);
}

/* Style the "Congratulations" message */
.congrats-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 20px;
}
